@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
/** Resets **/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/** Styles **/
:root {
  --clr-blue: hsl(246, 80%, 60%);
  --clr-active-blue: hsl(235, 46%, 30%);
  --clr-very-dark-blue: hsl(226, 43%, 10%);
  --clr-dark-blue: hsl(235, 46%, 20%);
  --clr-desaturated-blue: hsl(235, 45%, 61%);
  --clr-pale-blue: hsl(236, 100%, 87%);

  --clr-work: hsl(15, 100%, 70%);
  --clr-play: hsl(195, 74%, 62%);
  --clr-study: hsl(348, 100%, 68%);
  --clr-exercise: hsl(145, 58%, 55%);
  --clr-social: hsl(264, 64%, 52%);
  --clr-self-care: hsl(43, 84%, 65%);

  --radius: 1em;

  --rim-offset: clamp(38px, 5vw, 45px);
}

body {
  color: white;
  font-family: "Rubik", sans-serif;
  background: var(--clr-very-dark-blue);
}

.main {
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding: 5em 1.5em;
}

.grid {
  display: grid;
  min-width: 0; /** prevent grid blowout **/
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-template-rows: auto [last-line];
  gap: clamp(1.5em, 2.5vw, 1.875em);
  max-width: 1110px;
  --multiplier: calc(14.75em - 100%); /** for 'Flexbox albatross' **/
}

.grid__header {
  background: var(--clr-dark-blue);
  border-radius: var(--radius);
}

@media (min-width: 582px) {
  .grid__header {
    grid-row: span 6;
  }
}

@media (min-width: 861px) {
  .grid__header {
    grid-row: span 3;
  }
}

@media (min-width: 1140px) {
  .grid__header {
    grid-row: span 2;
  }
}

.grid__header-profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 2.5em;
  column-gap: 1.125em;
  padding: 2em 1.75em 1.8em;
  padding-bottom: clamp(2em, 8vw, 5em);
  background: var(--clr-blue);
  border-radius: var(--radius);
}

.grid__header-profile > * {
  flex-grow: 1;
  flex-basis: calc(var(--multiplier) * 999);
}

.profile-image {
  border: 3px solid white;
  max-width: 85px;
  border-radius: 50%;
}

.grid__title {
  color: var(--clr-pale-blue);
  display: inline-block;
  font-size: 0.93rem;
  font-weight: 400;
  margin-left: 0.25em;
}

.name {
  color: white;
  display: block;
  font-size: clamp(1.4rem, 4vw, 2.5rem);
  font-weight: 300;
  margin-top: 0.125em;
}

.togglers {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.25em;
  justify-content: space-around;
  padding: 1.5em 1.75em 2em;
}

.togglers > * {
  flex-grow: 1;
  flex-basis: calc(var(--multiplier) * 999);
}

.button {
  display: inline-flex;
  color: var(--clr-desaturated-blue);
  font-size: 1.125rem;
  font-family: "Rubik", sans-serif;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out, filter 0.15s ease-in-out;
}

.button:hover,
.button:focus {
  color: white;
}

.button--toggled {
  color: white;
}

.button-menu:hover,
.button-menu:focus {
  filter: brightness(2);
}

.grid__item {
  display: grid;
  background-position: top -0.6em right 1.1em;
  background-repeat: no-repeat;
  border-radius: var(--radius);
  border-bottom-left-radius: calc(var(--radius) + 4px); /* Fix corner spill*/
  border-bottom-right-radius: calc(var(--radius) + 4px);
  cursor: pointer;
}

.work {
  background-image: url(./images/icon-work.svg);
  background-color: var(--clr-work);
}

.play {
  background-image: url(./images/icon-play.svg);
  background-color: var(--clr-play);
}

.study {
  background-image: url(./images/icon-study.svg);
  background-color: var(--clr-study);
}

.exercise {
  background-image: url(./images/icon-exercise.svg);
  background-position: top -0.125em right 1.25em;
  background-color: var(--clr-exercise);
}

.social {
  background-image: url(./images/icon-social.svg);
  background-color: var(--clr-social);
  background-position: top -0.9em right 1.25em;
}

.self-care {
  background-image: url(./images/icon-self-care.svg);
  background-color: var(--clr-self-care);
}

.grid__item-content {
  display: grid;
  padding: 1.3em 1.875em 2em;
  margin-top: var(--rim-offset);
  border-radius: var(--radius);
  background-color: var(--clr-dark-blue);
  transition: background-color 0.2s ease-in-out;
}

.grid__item:focus-within .grid__item-content,
.grid__item:hover .grid__item-content {
  background-color: var(--clr-active-blue);
}

.grid__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.grid__item-stats {
  align-self: end;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5em;
  justify-content: space-between;
  align-items: center;
}

.figure-current {
  flex: 1;
  font-size: clamp(2.5rem, 4vw, 3.45rem);
  font-weight: 300;
}

.figure-previous {
  font-size: 0.9rem;
  min-width: max-content; /** prevent text wrapping **/
  max-width: 100%;
  flex-basis: calc(var(--multiplier) * 999);
  color: var(--clr-pale-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution__link {
  color: hsl(228, 45%, 44%);
}

/** Utility classes **/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  opacity: 0;
}
